@model BookingAirline.Models.KhachHang
@using BookingAirline.Models
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/KhachHangHA/Shared/_LayoutInfoCustomer.cshtml";
    ViewBag.active2 = "active";

}
<style>
    img {
        border-radius: 50%;
    }
</style>
<link href="~/Style/Css/UploadAnh.css" rel="stylesheet" />
<div class="col-xs-12 col-sm-10 col-md-10 dashboard-content user-profile">
    <h2 class="dash-content-title">My Profile</h2>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Profile Details</h4></div>
        <div class="panel-body">
            <form enctype="multipart/form-data" method="post" action="~/KhachHangHA/EditProfile">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-5 col-md-4 user-img">
                        <label class="control-label">Ảnh sản phẩm</label>
                        <div id="myfileupload">
                            <input type="file" id="uploadfile" name="HinhAnh" value="@Model.HinhAnh" onchange="readURL(this)" />
                        </div>
                        <div id="thumbbox">
                            <img height="250" src="@Model.HinhAnh" width="400" alt="Thumb image" id="thumbimage" />
                            <a class="removeimg" href="javascript:"></a>
                        </div>
                        <div id="boxchoice" style="margin-left:50px">
                            <a href="javascript:" class="Choicefile" id="Check"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>
                            <p style="clear:both"></p>
                        </div>
                    </div>
                    <!-- end columns -->
                    <div class="col-sm-7 col-md-8  user-detail">
                        <ul class="list-unstyled">
                            @Html.HiddenFor(model => model.IDKH)
                            @Html.HiddenFor(model => model.LoaiKH)
                            @Html.HiddenFor(model => model.UserName)
                            @Html.HiddenFor(model => model.Password)
                            <li><span>Name:</span> <input type="text" class="form-control" name="TenKH" placeholder="TenKH" value="@Model.TenKH" required /> </li>
                            <li><span>Date of Birth:</span> <input type="date" class="form-control" name="NgaySinh" placeholder="NgaySinh" value="@Model.NgaySinh" required /></li>
                            <p>Last update birth: @Model.NgaySinh</p>
                            <li><span>Email:</span> <input type="email" class="form-control" name="Email" placeholder="Email" value="@Model.Email" required /></li>
                            <li><span>Phone:</span> <input type="tel" class="form-control" name="SDT" placeholder="SDT" value="@Model.SDT" required /></li>
                            <li><span>Citizen ID:</span><input class="form-control" type="number" name="CCCD" value="@Model.CCCD" required /></li>
                            <li><span>Gender:</span><select class="form-control" type="number" name="GioiTinh" required>
                                <option value="@Model.GioiTinh" selected disabled>@Model.GioiTinh</option>
                                <option value="Male">Male</option>
                                <option value="Fermale">Fermale</option>
                                <option value="Other">Oter</option>
                                    </select> </li>
                        </ul>
                        <input type="submit" class="btn" data-target="#edit-profile" value="Save Profile" />
                    </div><!-- end columns -->
                </div>
            </form>
            <div class="col-sm-12 user-desc">
                <h4>About You</h4>
                <p>Vestibulum tristique, justo eu sollicitudin sagittis, metus dolor eleifend urna, quis scelerisque purus quam nec ligula. Suspendisse iaculis odio odio, ac vehicula nisi faucibus eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere semper sem ac aliquet. Duis vel bibendum tellus, eu hendrerit sapien. Proin fringilla, enim vel lobortis viverra, augue orci fringilla diam, sed cursus elit mi vel lacus. Nulla facilisi. Fusce sagittis, magna non vehicula gravida, ante arcu pulvinar arcu, aliquet luctus arcu purus sit amet sem. Mauris blandit odio sed nisi porttitor egestas. Mauris in quam interdum purus vehicula rutrum quis in sem. Integer interdum lectus at nulla dictum luctus. Sed risus felis, posuere id condimentum non, egestas pulvinar enim. Praesent pretium risus eget nisi ullamcorper fermentum. Duis lacinia nisi ac rhoncus vestibulum.</p>

            </div><!-- end columns -->
        </div><!-- end row -->

    </div><!-- end panel-body -->
</div>
<script src="https://jquery.com/download/#:~:text=https%3A//code.jquery.com/jquery%2D3.6.4.min.js"></script>
<script>
    function readURL(input, thumbimage) {
        if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbimage").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        else { // Sử dụng cho IE
            $("#thumbimage").attr('src', input.value);

        }
        $("#thumbimage").show();
        $('.filename').text($("#uploadfile").val());
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'default');
        $(".removeimg").show();
        $(".Choicefile").unbind('click');

    }
    $(document).ready(function () {
        $(".Choicefile").bind('click', function () {
            $("#uploadfile").click();
        });
        $(".removeimg").click(function () {
            /* $("#thumbimage").attr('src', '').hide();*/
            $("#thumbimage").attr('src','@Model.HinhAnh').show();
            $("#myfileupload").html('<input type="file" id="uploadfile" name="HinhAnh" value="@Model.HinhAnh" onchange="readURL(this);" />');
            $(".removeimg").hide();
            $(".Choicefile").bind('click', function () {
                $("#uploadfile").click();
            });
            $('.Choicefile').css('background', '#14142B');
            $('.Choicefile').css('cursor', 'pointer');
            $(".filename").text("");
        });
    })

</script>
@section script{
    
}