﻿@model BookingAirline.Models.Cart
@using BookingAirline.Models
@{var cal = 0;
    BookingAirLightEntities db = new BookingAirLightEntities();
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/KhachHangHA/Shared/_LayoutContact.cshtml";
}


<head>
    <link href="~/Style/Css/thanhtoan.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
</head>


<div class="container-payment" style="padding-top:100px">
    <h1 id="headline" style="font-weight:bold">Remaining payment time</h1>
    <div class="cd-di">
        <ul class="cd-ul">
            <li class="cd-li">Please pay within <span class="cd-sp" id="countdown" style="color:#ffd800; font-weight:bold"></span> minutes</li>
        </ul>
    </div>
</div>


<body>
    <div class="container-fluid">
        <div class="row justify-content-center" style="padding:30px; ">
            <div class="col-12 col-lg-11">
                <div class="card card0 rounded-0">
                    <div class="row">
                        <div class="col-md-7 d-md-block p-0 box">
                            <div class="card rounded-0 border-0 card1" id="bill">
                                <h3 id="heading1">Booking Details</h3>
                                @foreach (var item in Model.Items)
                                {
                                    <div class="row">
                                        <p class="price">
                                            @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.idVe.GiaVe);}
                                        </p>

                                        <div class="col-lg-7 col-8 mt-4 line pl-4">
                                            @{ var macb = db.ChuyenBays.Where(s => s.MaCB == item.idVe.MaCB).FirstOrDefault();
                                                var tenmb = db.MayBays.Where(s => s.MaMB == macb.MaMB).FirstOrDefault();
                                                var matbay = db.TuyenBays.Where(s => s.MaTBay == macb.MaTBay).FirstOrDefault();
                                            }
                                            <h3 style="color: #000000; font-weight: bold" class="item-description">FROM: @matbay.SanBayDi - TO: @matbay.SanBayDen</h3>
                                            <div class="col-lg-7 col-8 mt-4" style="color:#000000">
                                                <small class="item-description">@macb.NgayGio</small>
                                                <p class="item-description">Name: @item.IDKH</p>
                                                <p class="item-description">Price: @ThanhTien</p>

                                                @{ cal += Convert.ToInt32(item.idVe.GiaVe); }
                                            </div>
                                        </div>

                                        <div class="col-lg-5 col-4 mt-5">
                                            <p class="item-description" style="color: #000000">AIRCRAFT: @tenmb.LoaiMayBay</p>
                                            <h2 class="item-description" style="color: #000000; font-weight: bold"> @item.idVe.MaCB</h2>
                                            <p class="item-name" style="color:#000000">TICKET CODE: @item.idVe.MaVe</p>
                                        </div>
                                    </div>
                                }
                                <div class="row" style=" display: flex; justify-content:center; ">
                                    <div class="col-md-12 red-bg">
                                        <p class="total" id="total-label">Total Price</p>
                                        @{ var total1 = string.Format("{0:0,0 vnđ}", cal);}
                                        <h2 class="price" id="total" style="color:#ffffff; font-weight:bold">@total1</h2>
                                        <small class="bill-date" id="total-label">Price includes all taxes</small>
                                    </div>
                                    @*<div class="col-md-12 red-bg">
                                        <div class="input-field"  >
                                            <label style="color:white">Mã giảm giá: </label>
                                            <input id="Mavc" style="text-align:center" type="text" class="text-justify" placeholder="Nhập mã giảm giá" />
                                            <span id="error" style="color:red">
                                            </span>
                                        </div>
                                    </div>*@
                                </div>

                            </div>
                        </div>
                        <div class="col-md-5 p-0 box">
                            <div class="card rounded-0 border-0 card2" id="paypage">
                                <div class="form-card">
                                    <h2 id="heading2" class="text-danger" style="color:#000000; font-weight:bold">Payment Method</h2>
                                    <div class="radio-group">
                                        <div class='radio' data-value="credit"><img src="https://i.imgur.com/28akQFX.jpg" width="200px" height="60px"></div>
                                        <div class='radio' data-value="paypal"><img src="https://i.imgur.com/5QFsx7K.jpg" width="200px" height="60px"></div>
                                        <br>
                                    </div>
                                    <label class="pay">Name on Card</label>
                                    <input type="text" name="holdername" placeholder="---Name---">
                                    <div class="row">
                                        <div class="col-8 col-md-6">
                                            <label class="pay">Card Number</label>
                                            <input type="text" name="cardno" id="cr_no" placeholder="0000-0000-0000-0000" minlength="19" maxlength="19">
                                        </div>
                                        <div class="col-4 col-md-6">
                                            <label class="pay">CVV</label>
                                            <input type="password" name="cvcpwd" placeholder="&#9679;&#9679;&#9679;" class="placeicon" minlength="3" maxlength="3">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="pay">Expiration Date</label>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" name="exp" id="exp" placeholder="MM/YY" minlength="5" maxlength="5">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <a href="~/KhachHangHA/ThanhToan01" class="btn btn-primary btn-block">Payment</a>
                                            <a href="~/Payment/Payment01" class="btn btn-primary btn-block">Payment for VNPAY</a>
                                            <a href="~/Payment/Payment01" class="btn btn-primary btn-block">Payment for Zalo Pay</a>
                                            @*<input  class="btn btn-primary btn-block"/> Payment*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-button">
                    <a href="#" class="scroll-top">Back To Top</a>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>


<script>
    $(document).ready(function () {

        //For Card Number formatted input
        var cardNum = document.getElementById('cr_no');
        cardNum.onkeyup = function (e) {
            if (this.value == this.lastValue) return;
            var caretPosition = this.selectionStart;
            var sanitizedValue = this.value.replace(/[^0-9]/gi, '');
            var parts = [];

            for (var i = 0, len = sanitizedValue.length; i < len; i += 4) {
                parts.push(sanitizedValue.substring(i, i + 4));
            }

            for (var i = caretPosition - 1; i >= 0; i--) {
                var c = this.value[i];
                if (c < '0' || c > '9') {
                    caretPosition--;
                }
            }
            caretPosition += Math.floor(caretPosition / 4);

            this.value = this.lastValue = parts.join('-');
            this.selectionStart = this.selectionEnd = caretPosition;
        }

        //For Date formatted input
        var expDate = document.getElementById('exp');
        expDate.onkeyup = function (e) {
            if (this.value == this.lastValue) return;
            var caretPosition = this.selectionStart;
            var sanitizedValue = this.value.replace(/[^0-9]/gi, '');
            var parts = [];

            for (var i = 0, len = sanitizedValue.length; i < len; i += 2) {
                parts.push(sanitizedValue.substring(i, i + 2));
            }

            for (var i = caretPosition - 1; i >= 0; i--) {
                var c = this.value[i];
                if (c < '0' || c > '9') {
                    caretPosition--;
                }
            }
            caretPosition += Math.floor(caretPosition / 2);

            this.value = this.lastValue = parts.join('/');
            this.selectionStart = this.selectionEnd = caretPosition;
        }

        // Radio button
        $('.radio-group .radio').click(function () {
            $(this).parent().find('.radio').removeClass('selected');
            $(this).addClass('selected');
        });

    })

</script>

<script>
    // Tính toán thời gian còn lại
    var timeLeft = 300;
    // Cập nhật đồng hồ mỗi giây
    var downloadTimer = setInterval(function () {
        timeLeft--;
        // Tính phút, giây còn lại
        var minutes = Math.floor(timeLeft / 60);
        var seconds = timeLeft % 60;
        if (seconds < 10) {
            seconds = "0" + seconds; // Thêm số 0 vào đầu giây nếu số giây < 10
        }
        // Hiển thị thời gian còn lại
        document.getElementById("countdown").innerHTML = minutes + ":" + seconds;
        // Khi đến thời gian đích
        if (timeLeft < 0) {
            clearInterval(countdown);
            document.getElementById("countdown").innerHTML = "Hết thời gian thanh toán";
            window.location.href = '/KhachHang/TrangChu'
        }
    }, 1000);
</script>

<script>

    LoadData();
    $(document).ready(function () {
        $('#Next').click(function () {
            var mavc = $('#Mavc').val();

            var model = {
                MaVC=mavc
            };
            $.ajax({
                url: '/KhachHangHA/ThanhToan',
                type: 'POST',
                data: model,
                success: function (res) {
                    if (res.success) {
                        window.location.reload();
                    }
                }
            });
        });
    });


</script>
<script>

     $("#Mavc").change('input', function () {
         var inputval = $(this).val();
         console.log(inputval); //Dùng để check value biến hứng khi có sự kiện người dùng tác động vào
         var isDup = false;

         //Tạo một Ajax request với controller và action tương ứng
         $.ajax({
             url: '@Url.Action("KTKM", "KhachHangHA")',
             type: 'POST',
             data: {
                 input: inputval
             },
             success: function (response) {
                 if (response) {
                     var html1 = '<p><p>'
                     $('#error').html(html1);
                    /* $("#Next").prop("disabled", false);*/
                 }
                 else {
                     if (inputval.length == 0) {
                         var html = '<p><p>'
                         $('#error').html(html);
                        /* $("#Next").prop("disabled", false);*/
                     }
                     else {
                         var html = '<p> Mã khuyến mãi không tồn tại <p>'
                         $('#error').html(html);
                         /*$("#Next").attr("disabled", "disable");*/
                     }
                 }

             },
         })
     })

</script>



