@model IEnumerable<BookingAirline.Models.Ve>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiTietHDs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaVe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaVe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiTietHDs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaVe }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaVe }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaVe })
        </td>
    </tr>
}

</table>
